.navbar-brand img{
    /* height: 50px; */
    width: 40px;
}
.nav-item a.nav-link{
    font-size: 20px;
    margin: 10px;
    color: white;
    
}
.navbar{
  background-color:  #13a9dbe3 ;
}
.nav-item .active{
    border-bottom: rgb(11, 151, 86) 2px dotted;
}
a.nav-link:hover{
    
    /* border-bottom: 5px rgb(0, 162, 255) solid; */
}
